# Ignorar el entorno virtual de Python
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno o secretos
.env

# Archivos del editor (VS Code, PyCharm, etc.)
.vscode/
.idea/
