{% extends 'base.html' %}

{% block content %}
<main class="container py-5 ">
<section class="card card-body shadow-lg bg-white">
<h1 class="display-1 text-center">EVENTOS A TU GUSTO.!</h1>
<p>Organiza y administra fácilmente todas tus actividades importantes en un solo lugar. Programa reuniones de trabajo, reserva y gestiona citas médicas, planifica cumpleaños, aniversarios y cualquier otro evento personal o profesional. Mantén el control de tus fechas clave con recordatorios automáticos y detalles completos de cada evento. Simplifica tu agenda y asegura que nada se te pase por alto con nuestra plataforma de gestión de eventos diseñada para adaptarse a tu ritmo de vida.</p>

<div class="text-center">
    <a class="btn btn-secundary" href="/signin/">
        IniciarSesion
    </a>
    <a class="btn btn-secundary" href="/signup/">
        Registrar
    </a>
</div>

{% endblock %}